.progress-steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 12px;
}

.progress-card {
  /* border:solid 1px #0000001e; */
  padding: 14px 18px;
  border-radius: 6px;
  position: relative;
  background-color: #f8f9fa;
}

.progress-title {
 display: flex;
 /* justify-items: center; */
 align-items: center;
 gap: 0.5rem;
}

.progress-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ced4d9;
}

.progress-image img {
  width: 70%;
  filter: invert(1);
}

/* Step active */
.progress--active {
  background-color: #e9ecef;
}

.progress-active :is(h3,h4) {
  color: var(--bs-info);
}

.progress-active :is(.progress-icon, .progress-image) {
  background-color: var(--bs-info);
}

/* Step pendiente  */
.progress-pending :is(h3,h4, p) {
  color: #ced4d9;
}

/* Step completado  */
.progress-completed :is(h3,.progress-image) {
  color: var(--bs-success);
}


.progress-completed :is(.progress-icon,.progress-image){
  background-color: var(--bs-success);
}

/* Step danger */
.progress-danger :is(h3,h4,.progress-image) {
  color: var( --bs-danger);
}
.progress-danger :is(.progress-icon,.progress-image ){
  background-color: var( --bs-danger);
}

/* Warning */
.progress-warning :is(h3,h4,.progress-image) {
  color: var( --bs-warning);
}
.progress-warning :is(.progress-icon,.progress-image) {
  background-color: var( --bs-warning);
}
.progress-icon {
  position: absolute;
  width: 36px;
  height: 36px;
  top: -16px;
  right: 16px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-light);
  font-size: 18px;
  background-color: #ced4d9;
}


.list-icon {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-light);
  font-size: 18px;
  background-color: #ced4d9;
}

.list-icon-danger {
  font-size: 14px;
  background-color: var(--bs-danger);
}

.list-icon-success {
  background-color: var(--bs-success);
}

.list-icon-warning {
  font-size: 14px;
  background-color: var(--bs-warning);
}